#deleteUser.modal.fade(tabindex='-1', role='dialog', aria-labelledby='edit', aria-hidden='true')
  .modal-dialog
    .modal-content
      form#modal-delete-user-form.form-horizontal(method = "post", action = "/deleteUser")
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#Heading.modal-title.custom_align Delete User
          .modal-body
            input(type='hidden', name='_csrf', value=_csrf)
            input(type='hidden', name='_id', id='_id', value='')
            .alert.alert-warning
              span.glyphicon.glyphicon-warning-sign
              | Are you sure you want to delete this user?
          .modal-footer
            button.btn.btn-danger(type='submit')
              span.glyphicon.glyphicon-ok-sign
              |  Yes
            button.btn.btn-primary(type='button', data-dismiss='modal')
              span.glyphicon.glyphicon-remove
              |  No
