#editProject.modal.fade
    .modal-dialog
        .modal-content
            form#edit-modal-project-form.form-horizontal(method = "post", action = "/project/edit")
                .modal-header
                    a.close(data-dismiss='modal') ×
                    h4.modal-title Edit Project
                .modal-body
                    .form-group
                        input(type='hidden', name='_csrf', value=_csrf)
                        input(type='hidden', name='_id', value="")
                        label.control-label.col-md-4(for='name') Project Name
                        .col-md-8
                            input#name.form-control(type='text', name='name', placeholder='GIRTER')
                    .form-group
                        label.control-label.col-md-4(for="clientName") Client Name
                        .col-md-8
                            select.form-control#clientName.input-xlarge(type="select", name='clientName')
                                each client in clients
                                    option(id="#{client._id}") #{client.name}
                    .form-group
                        label.control-label.col-md-4(for='status') Status
                        .col-md-8
                            select.form-control#status.input-xlarge(name='status')
                                option(value="active") ACTIVE
                                option(value="inactive") INACTIVE
                .modal-footer
                    button.btn.btn-success(type='submit', style='width: 100%;')
                        span.glyphicon.glyphicon-ok-sign
                          |  Update