#createProject.modal.fade
    .modal-dialog
        .modal-content
            form#modal-form.form-horizontal(method = "post", action = "/project/new")
                .modal-header
                    a.close(data-dismiss='modal') ×
                    h4.modal-title New Project
                .modal-body
                    .form-group
                        input(type='hidden', name='_csrf', value=_csrf)
                        label.control-label.col-md-4(for='name') Name
                        .col-md-8
                            input.form-control(type='text', name='name', placeholder='GIRTER')
                    .form-group
                        label.control-label.col-md-4(for="clientName") Client Name
                        .col-md-8
                            select.form-control#clientName.input-xlarge(type="select", name='clientName')
                                each client in clients
                                    option(id="#{client._id}") #{client.name}
                 .modal-footer
                    button#modal-course-btn(type='submit', class="btn btn-success") Create
                    a.btn.btn-danger(href='#', data-dismiss='modal') Cancel

