#privacyPolicy.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        a.close(data-dismiss='modal') ×
        h4.modal-title Privacy Policy
      .modal-body
        p
          | ASSOB Pty Ltd ACN 114 772 020 (ASSOB) is committed to protecting the privacy of all individuals and organisations to which they provide services. In order to ensure that we are consistent in this approach, ASSOB has adopted a Privacy Policy to comply with the National Privacy Principles contained within the Privacy Amendment (Private Sector) Act 2000 (Cth).

      .modal-footer
             a.btn(href='#', data-dismiss='modal').btn.btn-success OK
