#termsAndConditions.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        a.close(data-dismiss='modal') ×
        h4.modal-title Terms And Conditions
      .modal-body
          p
            | I. Investment in new business carries high risks. It is highly speculative and before investing in any project about which information is given, prospective investors are strongly advised to take appropriate professional advice;
          p
            | II. The information contained in this Publication has been prepared by or on behalf of the person who is proposing to issue or sell the securities or scheme interests and Tauro Capital Pty Ltd ACN 128127695 (Tauro) has not undertaken an independent review of the information contained in the Publication;
          p
            | III. The information contained in this Publication about any proposed business opportunity and the securities or scheme interests is not intended to be the only information on which the investment decision is made and is not a substitute for a disclosure document, Product Disclosure Statement or any other notice that may be required under the Act, as the Act may apply to the investment. Detailed information may be needed to make an investment decision, for example: financial statements; a business plan; information about ownership of intellectual or industrial property; or expert opinions including valuations or auditors' reports;
          p
            | IV. Prospective investors should be aware that no established market exists for the trading of any securities or scheme interests that may be offered; and
            V. This Publication is subject to ASIC Class Order [02/273]
      .modal-footer
                a.btn(href='#', data-dismiss='modal').btn.btn-success OK

