ul#sidebar.sidebar-nav
  li
    a(href='/home')
      | Home
      span.sub_icon.glyphicon.glyphicon-home
  li
    a(href='/users')
      | Users
      span.sub_icon.glyphicon.glyphicon-user
  li
    a(href='/courses')
      | Courses
      span.sub_icon.glyphicon.glyphicon-book
  li
    a(href='/api')
      | API
      span.sub_icon.glyphicon.glyphicon-transfer
