extends index

block pageHeader
    .page-title 
        h3 Privacy Policy

block breadCrumbs
  li
    i.icon-user  Manage Privacy Policy         

block afterNav
    div.content
        #privacy_and_policy_editor
        br
        ul.nav.nav-pills.pull-right
            li.active
            a(data-toggle='modal', href='#updatePrivacyAndPolicy').btn.btn-primary
                span
                |    Update Privacy Policy

block modals

block pageScripts
    script(src='/js/views/privacy_and_policy.js')
