extends ../login

block content
  .page-header
    h1
      | Forbidden
    h2
      | You don't have permission to see the page you're trying to reach.
    p.help
      a(href='http://en.wikipedia.org/wiki/HTTP_403') Why
      |  might this be happening?
